- if @modules.abouts?
  %section#about
    .container
      .content-lg.g-pr-30.g-pl-30
        .row.equal-height-columns
          .col-md-6.col-sm-12.g-pl-100.equal-height-column.g-sm-mb-20
            .heading-v13.heading-v13--left.text-left.g-mb-40
              %span.heading-v13__block-name Sobre
              %h1.heading-v13__title.font-main.g-mb-15
                = @abouts.title
              %p.heading-v13__text
                = @abouts.description
            .row
              .col-sm-7.col-xs-9{style: 'z-index:13'}
                = @abouts.video.html_safe
          .col-md-6.col-sm-12
            %img.about__img.equal-height-column.img-responsive{:alt => "", :src => "#{@abouts.banner.url(:normal)}"}