%section#blog
  .g-pb-100.g-pr-15.g-pl-15
    .container-fluid
      / Owl Carousel v5
      .owl2-carousel-v5.owl-theme
        .item
          .post.img-hover-v2
            %img.post__img.img-responsive{:alt => "", :src => "/assets/img-temp/post1.jpg"}
              .post__caption.g-pl-50.g-pr-50.g-pb-30
                .row
                  .col-sm-3
                    %span.post__number 02.07
                  .col-sm-9.text-left.no-padding
                    %h2.post__title.font-main
                      %a{:href => "#"} Aliquam erat volutpat
                    %p.post__text Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis.
        .item
          .post.img-hover-v2
            %img.post__img.img-responsive{:alt => "", :src => "/assets/img-temp/post2.jpg"}
              .post__caption.g-pl-50.g-pr-50.g-pb-30
                .row
                  .col-sm-3
                    %span.post__number 01.07
                  .col-sm-9.text-left.no-padding
                    %h2.post__title.font-main
                      %a{:href => "#"} Aliquam erat volutpat
                    %p.post__text Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis.
        .item
          .post.img-hover-v2
            %img.post__img.img-responsive{:alt => "", :src => "/assets/img-temp/post3.jpg"}
              .post__caption.g-pl-50.g-pr-50.g-pb-30
                .row
                  .col-sm-3
                    %span.post__number 04.06
                  .col-sm-9.text-left.no-padding
                    %h2.post__title.font-main
                      %a{:href => "#"} Aliquam erat volutpat
                    %p.post__text Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis.
        .item
          .post.img-hover-v2
            %img.post__img.img-responsive{:alt => "", :src => "/assets/img-temp/post4.jpg"}
              .post__caption.g-pl-50.g-pr-50.g-pb-30
                .row
                  .col-sm-3
                    %span.post__number 02.05
                  .col-sm-9.text-left.no-padding
                    %h2.post__title.font-main
                      %a{:href => "#"} Aliquam erat volutpat
                    %p.post__text Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc. Proin fermentum turpis eget nisi facilisis lobortis.