- if @modules.register?
  %section#contact{style: 'background-color: rgba(206, 206, 206, 0.15);'}
    .container
      .col-md-8.col-md-offset-2.g-mb-60
        / Tab v1
        .tab-v1
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#write-us"} INSCREVA-SE
            %li.pull-right
              %a{"data-toggle" => "tab", :href => "#contacts"} CONTATO
          .tab-content
            #write-us.tab-pane.fade.in.active
              .form
                %form#sky-form3.sky-form.contact-style{:action => "/register", :method => "post"}
                  %fieldset
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %input#name.form-control.contact__form-control{:name => "name", :placeholder => "Seu Nome Completo", :type => "text", :required => ""}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %input#cpf.form-control.contact__form-control{:name => "cpf", :placeholder => "Seu CPF  *Somente números", :type => "text", :required => ""}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %input#city.form-control.contact__form-control{:name => "city", :placeholder => "Sua Cidade", :type => "text", :required => ""}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %label
                            Qual sua data de nascimento?
                          %input#birthday.form-control.contact__form-control{:name => "birthday", :placeholder => "Seu Nascimento", :type => "date", :required => ""}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %input#phone.form-control.contact__form-control{:name => "phone", :placeholder => "Seu Telefone", :type => "text", :required => ""}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %input#email.form-control.contact__form-control{:name => "email", :placeholder => "Seu E-mail", :type => "text", :required => ""}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %label
                            Deseja agendar sua prova?
                          %input#test.form-control.contact__form-control{:name => "test_date", :placeholder => "Dia da Prova", :type => "date"}
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %label
                            Alguma necessidade especial?
                          %select.form-control.contact__form-control{:name => "necessity", :required => ""}
                            %option{:value => ""} Selecione
                            %option{:value => "true"} Sim
                            %option{:value => "false"} Não
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %label
                            Em que ano concluiu o Ensino Médio?
                          - start = 1950
                          %select.form-control.contact__form-control{:name => "school_end", :required => ""}
                            %option{:value => ""} Selecione
                            - 66.times do |time|
                              - start = start + 1
                              %option{:value => "#{start}"}
                                = start
                    .row
                      .col-md-12.g-mb-30
                        %div
                          %label
                            Qual o curso pretendido?
                          %select.form-control.contact__form-control{:name => "course_id", :required => ""}
                            %option{:value => ""} Selecione o Curso
                            - @courses.each do |course|
                              %option{:value => "#{course.id}"}
                                = course.title
                    .row
                      .col-md-7.col-md-offset-3
                        %button.btn-u.btn-u-lg.btn-u-bg-default.btn-u--contact{:type => "submit"} REGISTRAR
                  .message.text-center
                    %i.rounded-x.fa.fa-check
                    %p Cadastro Realizado com Sucesso!
            #contacts.tab-pane.fade.in
              .row.g-pt-60.text-center.tag-box.tag-box-v3
                %ul.list-unstyled.col-md-4.g-mb-30
                  %li
                    %span.icon-directions.contact-list__icon.g-dp-block.g-mb-10
                  %li.contact-list__item-1 Endereço
                  %li.contact-list__item-2
                    = @company.company_address
                %ul.list-unstyled.col-md-4.g-mb-30
                  %li
                    %span.icon-call-in.contact-list__icon.g-dp-block.g-mb-10
                  %li.contact-list__item-1 Fone
                  %li.contact-list__item-2
                    = @company.company_phone
                %ul.list-unstyled.col-md-4
                  %li
                    %span.icon-envelope-open.contact-list__icon.g-dp-block.g-mb-10
                  %li.contact-list__item-1 E-mail
                  %li.contact-list__item-2
                    = @company.company_email
    .container-fluid.no-padding
      #map.g-map