- if @modules.courses?
  %section#courses
    .container-fluid.no-padding.pattern-v1
      .content-lg.g-pr-30.g-pl-30
        .heading-v13.heading-v13--center.text-center.g-pt-10.g-mb-80
          %span.heading-v13__block-name Nosso Cursos
          %h1.heading-v13__title.font-main Invista em você a aprenda algo novo
        / Owl Carousel v2
        .owl2-carousel-v2.owl-theme.controls-v1
          - @courses.each do |course|
            .item.text-left
              .course-info
                .course-info__block
                  %img.course-info__img{:alt => "", :src => "#{course.banner.url(:normal)}"}
                    %a.course-info__cat.g-padding-10{:href => "#"}
                      = course.title
                    %h2.course-info__title.font-main
                      %a.course-info__link{:href => "#"}
                        = course.title
                .course-info__bott.g-padding-30
                  %p.course-info__price.g-mb-40
                    %span.course-info__price--big
                      Mensalidade
                      %strong
                        = course.price
                    por mês
                  %p.course-info__text.g-mb-25
                    = course.description
                  %span.course-info__dur.g-mb-20.g-dp-block
                    %i.fa.course-info__icon.fa-calendar.g-mr-10
                    Duração:
                    &nbsp;
                    = course.duration
                    &nbsp;
                    anos
                  %span.course-info__level
                    %i.fa.course-info__icon.fa-certificate.g-mr-10
                    Tipo de Curso:
                    &nbsp;
                    = course.level.title