- if @modules.featureds?
  %section#intro.promo-section
    .container-fluid.g-pr-30.g-pl-30
      .owl2-carousel-v1.owl-theme.animated.slideInUp
        - @featureds.each do |featured|
          .item.text-left
            .course
              %img.img-responsive{:alt => "", :src => "#{featured.banner.url(:normal)}"}
                %a.course__cat.g-padding-10{:href => "#"}
                  = featured.title
                .course--bottom
                  .text-left
                    %span.course__dur
                      %i.fa.course__icon.fa-money.g-mr-10.g-mb-10
                      RS:
                      &nbsp;
                      = featured.price
                  .text-left
                    %span.course__dur
                      %i.fa.course__icon.fa-calendar.g-mr-10.g-mb-10
                      Duração:
                      &nbsp;
                      = featured.duration
                      &nbsp;
                      anos
                  %p.course__text.g-mb-30
                    = truncate(featured.description, length: 100)