%footer.footer
  .container-fluid.pattern-v1--color.no-padding
    .g-pt-60.g-pb-40
      .container
        .row
          .col-md-3.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0.text-left.g-pt-10
            %img.img-responsive.g-mb-20.footer-logo__img{:alt => "", :src => "#{@company.logo.url(:normal)}"}
              %ul.list-inline
                %li
                  %a.footer__social{:href => "#{@company.facebook}"}
                    %i.icon-custom.icon-sm.rounded-x.fa.fa-twitter
                %li
                  %a.footer__social{:href => "#{@company.twitter}"}
                    %i.icon-custom.icon-sm.rounded-x.fa.fa-facebook
          .col-md-6.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0.text-left
            %h2.footer__subtitle.font-main Últimas Fotos
            %ul.list-inline.blog-photostream
              - @gallery.each do |g|
                %li.img-hover-v2
                  %a.cbp-caption.cbp-lightbox{:href => "#{g.banner.url(:normal)}", :title => "#{g.title}"}
                    %span
                      %img.img-responsive{:alt => "", :src => "#{g.banner.url(:normal)}"}