- if @modules.gallery?
  %section#gallery
    .g-pb-100
      .container
        .g-pr-40.g-pl-40
          .heading-v13.g-pl-100.heading-v13--left.text-left.g-mb-60
            .row
              .col-md-12
                %span.heading-v13__block-name Galeria
                %h1.heading-v13__title.font-main.g-mb-15 Veja com seus próprios olhos
      .container-fluid
        .cube-portfolio.cube-portfolio--mod
          #grid-container.cbp-l-grid-gallery
            - @gallery.each do |gallery|
              .cbp-item
                %a.cbp-caption.cbp-lightbox{"data-title" => "\t#{gallery.title}", :href => "#{gallery.banner.url(:normal)}"}
                  .cbp-caption-defaultWrap
                    = image_tag(gallery.banner, size: :normal)
                  .cbp-caption-activeWrap
                    .cbp-l-caption-alignCenter
                      .cbp-l-caption-body
                        .cbp-l-caption-title
                          = gallery.title