%nav.header.one-page-header.navbar.navbar-default.navbar-fixed-top.courses-header.one-page-nav-scrolling.one-page-nav__fixed{"data-role" => "navigation"}
  .container-fluid.g-pr-40.g-pl-40
    .menu-container.page-scroll
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#body"}
        %img.img-responsive{:alt => "Logo", :src => "#{@company.logo.url(:normal)}"}
    .collapse.navbar-collapse.navbar-ex1-collapse.g-pt-25
      .menu-container
        %ul.nav.navbar-nav
          %li.page-scroll.home.nav__text{style: 'margin-top: -35px !important; margin-left: -120px !important'}
            %a{:href => ""}
              = image_tag @qr
          - if @modules.featureds?
            %li.page-scroll.home.nav__text
              %a{:href => "#body"} Home
          - if @modules.abouts?
            %li.page-scroll.nav__text
              %a{:href => "#about"} Sobre
          - if @modules.courses?
            %li.page-scroll.nav__text
              %a{:href => "#courses"} Cursos
          - if @modules.stats?
            %li.page-scroll.nav__text
              %a{:href => "#numbers"} Estatísticas
          - if @modules.gallery?
            %li.page-scroll.nav__text
              %a{:href => "#gallery"} Galeria
          - if @modules.teachers?
            %li.page-scroll.nav__text
              %a{:href => "#teachers"} Docentes
          - if @modules.register?
            %li.page-scroll.nav__text.g-sm-mb-20
              %a{:href => "#contact"}
                %i.fa.fa-institution
                Vestibular / Contato
            %ul.list-inline.hidden-md.pull-md-right.nav__socials
              %li
                %a.nav__social.g-ml-15.g-sm-ml-0{:href => "#{@company.facebook}"}
                  %i.icon-custom.icon-sm.rounded-x.fa.fa-twitter
              %li
                %a.nav__social{:href => "#{@company.twitter}"}
                  %i.icon-custom.icon-sm.rounded-x.fa.fa-facebook