- if @modules.stats?
  %section#numbers{style: 'margin-bottom: 100px;'}
    .container
      .content-lg.g-pb-80.g-pr-30.g-pl-30
        .heading-v13.g-pl-100.heading-v13--left.text-left.g-mb-60
          .row
            .col-md-6
              %span.heading-v13__block-name Nossas Estatísticas
              %h1.heading-v13__title.font-main.g-mb-15 Trabalho Duro
            .col-md-6
              %p.heading-v13__text Trabalhamos incessantemente para fazer isso verdade

        - @stats.each_with_index do |stat,index|
          - if index % 2 == 0
            .row.g-mb-40
          .counters.col-sm-6
            .row
              .col-md-4.g-pl-30
                .counter-circle.rounded-x
                  %span.counter
                    = stat.amount
              .col-md-8.text-left.g-pt-40
                %h4.g-mb-10.font-main.counters__title
                  = stat.title