- if @modules.teachers?
  %section#teachers
    .container-fluid.no-padding.pattern-v1--color
      .container
        .content-lg
          .heading-v13.heading-v13--center.heading-v13--diff.text-center.g-pt-10.g-mb-60
            %span.heading-v13__block-name Nossos Professores
            %h1.heading-v13__title.font-main ...
            %p.heading-v13__text Especializados em ensinar você!
          .owl2-carousel-v3.owl-theme.controls-v1
            - @teachers.each do |teacher|
              .item.text-center
                .teacher.g-padding-20
                  %img.teacher__img.g-mb-30{:alt => "", :src => "#{teacher.avatar.url(:normal)}"}
                    %span.teacher__name.g-dp-block.g-mb-15
                      = teacher.name