%main.wrapper
  = render partial: 'shared/header'
  = render partial: 'shared/featured'
  = render partial: 'shared/about'
  = render partial: 'shared/courses'
  = render partial: 'shared/numbers'
  = render partial: 'shared/gallery'
  = render partial: 'shared/teachers'
  = render partial: 'shared/contact'
  = render partial: 'shared/footer'








