<!DOCTYPE html>
<html>
<head>
  <title>Univel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Web Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700' rel='stylesheet' type='text/css'>	<link href='https://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/assets_main/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets_main/css/app.css">
  <link rel="stylesheet" href="/assets_main/css/blocks.css">
  <link rel="stylesheet" href="/assets_main/css/one.style.css">

  <!-- CSS Footer -->

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets_main/plugins/animate.css">
  <link rel="stylesheet" href="/assets_main/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="/assets_main/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets_main/plugins/owl-carousel2/assets/owl.carousel.css">
  <link rel="stylesheet" href="/assets_main/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
  <link rel="stylesheet" href="/assets_main/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
  <link rel="stylesheet" href="/assets_main/plugins/hover-effects/css/custom-hover-effects.css">
  <link rel="stylesheet" href="/assets_main/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
  <link rel="stylesheet" href="/assets_main/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
  <link rel="stylesheet" href="/assets_main/plugins/pace/pace-flash.css">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="/assets/css/courses.style.css">
  <link rel="stylesheet" href="/assets/css/global.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/assets/css/custom.css">

</head>
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery font-main promo-padding-top">

<%= yield %>

  <!-- JS Global Compulsory -->
  <script src="/assets_main/plugins/jquery/jquery.min.js"></script>
  <script src="/assets_main/plugins/jquery/jquery-migrate.min.js"></script>
  <script src="/assets_main/plugins/bootstrap/js/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/assets_main/plugins/smoothScroll.js"></script>
  <script src="/assets_main/plugins/jquery.easing.min.js"></script>
  <script src="/assets_main/plugins/pace/pace.min.js"></script>
  <script src="/assets_main/plugins/owl-carousel2/owl.carousel.min.js"></script>
  <script src="/assets_main/plugins/counter/waypoints.min.js"></script>
  <script src="/assets_main/plugins/counter/jquery.counterup.min.js"></script>
  <script src="/assets_main/plugins/circles-master/circles.min.js"></script>
  <script src="/assets_main/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
  <script src="/assets_main/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
  <script src="/assets_main/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
  <script src="/assets_main/plugins/modernizr.js"></script>

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&amp;callback=initMap" async defer></script><script src="assets/js/plugins/gmaps-ini.js"></script>

  <!-- JS Page Level-->
  <script src="/assets_main/js/one.app.js"></script>
  <script src="/assets/js/plugins/owl2-carousel-v1.js"></script>
  <script src="/assets/js/plugins/owl2-carousel-v2.js"></script>
  <script src="/assets/js/plugins/owl2-carousel-v3.js"></script>
  <script src="/assets/js/plugins/owl2-carousel-v4.js"></script>
  <script src="/assets/js/plugins/owl2-carousel-v5.js"></script>
  <script src="/assets/js/plugins/cube-portfolio.js"></script>
  <script src="/assets/js/plugins/gmaps-ini.js"></script>
  <script src="/assets/js/forms/contact.js"></script>
  <script>
    $(function() {
      App.init();
      App.initCounter();
      Owl2Carouselv1.initOwl2Carouselv1();
      Owl2Carouselv2.initOwl2Carouselv2();
      Owl2Carouselv3.initOwl2Carouselv3();
      Owl2Carouselv4.initOwl2Carouselv4();
      Owl2Carouselv5.initOwl2Carouselv5();
      ContactForm.initContactForm();
    });
  </script>
  <!--[if lt IE 10]>
  <script src="/assets_main/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
  <![endif]-->

</body>
</html>
